<section>
  <%= image_tag 'imagen.jpg', class:'img'%>
  <%= image_tag 'imagen1.png', class:'img' %>
  <%= image_tag 'imagen2.jpg', class:'img' %>
  <%= image_tag 'imagen3.jpg', class:'img' %>
  <%= image_tag 'imagen4.webp', class:'img' %>
</section>