<%= turbo_frame_tag 'categories' do %>
    <h1>Productos:</h1>

    <%= render partial: 'product', collection: @products %>
    <%= render partial: 'category', collection: @categories %>
    <%= link_to 'All', products_path%>
    <!-- <%= render '/shared/imagesOnePunch' %> -->
<%end%>