<%= image_tag @product.photo, width:200 if @product.photo.attached? %>

<h1 class='title'><%= @product.title %></h1>

<p class='description'> <%= @product.description %></p>

<span class='price'> <%= @product.price %></span>

<div>
    <br>
    <%= link_to 'Edit product', edit_product_path(@product), class: 'btn btn-warning'  %>
</div>

<!-- <%= button_to "Delete product", @product, method: :delete, class: 'btn btn-danger'%> -->
<%= button_to "Destroy", @product, method: :delete, form: { data: {turbo_confirm: 'Are you sure?'} } %>

